@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;

}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}



h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4  {
    font-size: 20px;
    color: #222;
}

h6  {
    font-weight: 700;
    line-height: 12px;
    color: #222;
}


p {
    font-size: 16px;
    color: #f1f6e1;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body {
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #a0a09a;
    box-shadow: 0 5px 15px rgba(0,0,0,0.07);
}

#navigationbs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 80px;
}

#navigationbs li{
    list-style: none;
    padding: 0 50px;
    font-size: 20px;
}

#navigationbs li a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}
#navigationbs li a:hover{
    color: rgb(252, 249, 249);
}

#navigationbs li a:active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(252, 249, 249);
    position: absolute;
    left: 20px;
    bottom: -2px;
}